@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Inter:wght@300&display=swap');


.CurriculumSection {

    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.CurriculumHeader {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    justify-items: flex-end;
}

.CurriculumText p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* identical to box height, or 250% */
    text-transform: uppercase;

    /* Black */
    color: #373A3A;

}

.CurriculumText h2 {
    font-family: 'Apfel Grotezk';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 70px;
    line-height: 76px;
    letter-spacing: -2px;

    margin-top: -20px;

    /* Black */
    color: #373A3A;
}


.button {

    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    gap: 10px;

    /* Blue */
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* identical to box height */
    display: flex;
    margin-top: 70px;

    /* White */
}

.button1 {
    background: #5863F8;
    color: #FFFFFF;
}





/* Curriculum Grid Styling */

.CurriculumGrid {

    margin-top: -50px;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.GridCard {

    margin: 20px;
    width: 330px;
    height: 300px;

    box-sizing: border-box;

    border-radius: 12px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.GridColor1 {
    background: #DEE0FE;
    border: 2px solid #5863F8;
}

.GridColor2 {
    background: #FFFFFF;
    border: 2px solid #D7D8D8;
}

.CardImage1 {
    background-color: #FFFFFF;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom: 1px solid #D7D8D8;
}


.CardImage2 {
    background-color: #F47B20;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}



.CardText {
    margin-top: -30px;
    height: 100px;
    padding: 20px;
}


.CardText h3 {
    /* font-family: 'Inter', 'sans-serif'; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;

    color: #373A3A;
}

.CardText p {

    margin-top: -30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 178% */
    display: flex;
    align-items: center;

    /* Black */
    color: #373A3A;
}

.LinkColor1 {

    color: #5863F8;
}

.LinkColor2 {

    color: #4F9D69;
}

.CardLink {

    margin-top: -10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 178% */
    display: flex;
    align-items: center;

    /* Blue */


    border:none;
    outline:none;
    text-decoration:none;
}

/* Curriculum Grid Styling */