@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Inter:wght@300&display=swap');
/* 
.WholePage{
    height: 800px;
} */

.LandingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    height: 90vh;
    /* margin-right: 10%; */
    border: none;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: 0px;
}

.textBox {
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
    padding: 0px;
}

.mainText {
    /* width: 0%; */
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 76px;
    letter-spacing: -2px;

    margin-bottom: 40px;

    /* Black */
    color: #373A3A;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.text1 {

    width: 70%;
    margin-top: 0px;
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 200; */
    font-size: 20px;
    line-height: 30px;
    /* or 167% */
    display: flex;
    align-items: center;

    /* Black */
    color: #373A3A;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 600px;
    margin-top: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.benefit {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    line-height: 24px;
    display: flex;
    align-items: center;

    flex: none;
    order: 0;
    flex-grow: 0;

    flex-direction: row;
    justify-content: center;
    padding: 2px 16px;
    gap: 12px;


    background: rgba(88, 99, 248, 0.2);
    border-radius: 36px;

}

.benefit1 {
    color: #5863F8;
    background: rgba(88, 99, 248, 0.2);
}

.benefit2 {
    color: #4F9D69;;
    background: rgba(79, 157, 105, 0.2);
}

.mainText span {
    color: #4F9D69;
}


.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;

    margin-top: 20px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.designElement {
    margin: 0px;
    width: 70vh;
    height: fit-content;
}

.line {

    background-color: black;

    width: 100%;
    height: 1px;
    /* border: solid; */
    margin-top: -34px;

}
